html {
    font-size: 25px;
}

body {
    background-color: rgb(0, 251, 255);
    color: azure;
    font-family: 'Lumanosimo', cursive;}
.header-nav{
    display: flex;

}

.heading-container{
    display: flex;
    justify-content: space-between;
}


h1, h2 {
text-align: center;
font-family: 'Times New Roman', Times, serif;
 width: 50%;
display: inline-block;
 }
h1 {
    font-size: 2.25rem;
    display: inline-block;
    padding: 20px; 
    width: 500px;
    border: 5px solid rgb(6, 6, 6);  margin: 50px;
}
 ul,ol {
padding-left: 25px;
}
ul {
list-style-type: square;
}

 ol  {
list-style-type: decimal;
}

header {
    background-color: beige;
}

#first-paragraph {
    border: 5px outset gray
}

[type=text] , [type=email] {
    padding: 7px;
}

.introduction{
    text-align: center;
    color: rgb(30, 30, 30);
}

.profile-image {
    width: 230px;
    display: block;
    margin: 1rem auto;
}

.profile {
    background-color: white;
    color: rgb(30, 30, 30);
}
.logo {
color: black;
    text-decoration: none;
}

.profile-description {
    color: rgb(30, 30, 30);
}